# Python e Cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Windows e VS Code
Thumbs.db
desktop.ini
.vscode/

# Arquivos de dados pesados (opcional, para não estourar o limite do GitHub)
*.csv
*.xlsx